.cabecalho{
    background-color: #CB73F4;
    color:#ffff;
    display: flex;
    justify-content: space-around;

}

.cabecalho-lista {
    display: inline-block;

}

img{
width: 20%;
}
