.cabecalho{
    background-color: #CB73F4;
    color:#ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}

.cabecalho-imagem{
width: 30%;
}

.escola {
    background-image: linear-gradient(#CB73F4, #e4c6f1);
    display: flex;
}

.escola-imagem{
    width: 30%;

}

.escola-texto {
    padding: 10px;
    margin: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.escola-div-conteudo{
    width:50%;
}