.cabecalho{
    background-color: #CB73F4;
    color:#ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 12px;
    font-size: 24px;

}

.cabecalho-imagem{
width: 30%;
}

.escola {
    background-image: linear-gradient(#CB73F4, #e4c6f1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    margin: 12px 0;

}

.escola-imagem{
    width: 32%;

}

.escola-titulo {
    padding: 20px 0;
    font-size: 20px;

}

.escola-texto {
    font-size: 12px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.escola-div-conteudo{
    width:50%;
}

.estudante-imagem {
    width: 30%;
}

.estudante-todos1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.estudante-todos2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}